In [10]:
import pandas as pd
df = pd.read_csv(r'C:\Users\victo\OneDrive\Documentos\GitHub\python-challenge\PyBank\budget_data.csv')
print(df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [11]:
import numpy as np

In [12]:
print("Total Months: ",len(df))

Total Months:  86

In [13]:
total_months = 0

In [14]:
text_path = "output.txt"

In [15]:
total_months = len(df)

In [16]:
total_months

86

In [17]:
Total = df['Profit/Losses'].sum()

In [18]:
Total

38382578

In [19]:
Dif_P_L = df['Profit/Losses'].diff()

In [20]:
Dif_P_L

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [21]:
Average_Change = round(np.mean(Dif_P_L),2)

In [22]:
Average_Change

-2315.12

In [23]:
Greatest_Increase = Dif_P_L.max()

In [75]:
Greatest_Increase

1926159.0

In [82]:
Greatest_Increase_Date = df.query("Profit/Losses" == Greatest_Increase)["Date"]

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [66]:
Greatest_Increase_Date

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [27]:
Greatest_Decrease = Dif_P_L.min()

In [28]:
Greatest_Decrease

-2196167.0

In [29]:
with open(text_path, 'w') as file:
    file.write("Financial Analysis\n\n")
    file.write("---------------------\n\n")
    file.write("Total Months: %d\n\n" % total_months)
    file.write("Total: $%d \n\n" % Total)
    file.write("Average Change: $%.2f \n\n" % Average_Change)
    file.write("Greatest Increase in Profits: ($%d) \n\n" % Greatest_Increase)
    file.write("Greatest Decrease in Profits: ($%d) \n\n" % Greatest_Decrease)